/*
Name: Lee Mun Jun
Admin No.: p2227762
Class: DIT/1B/03
*/

html,
body {
    margin: 0;
    background: linear-gradient(45deg, rgb(39, 39, 89), rgb(76, 37, 104), rgb(92, 35, 92));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
}

.search input:focus {
    background-color: rgb(209, 209, 209);
}

.search select:focus {
    background-color: rgb(209, 209, 209);
}

#dvd {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.item-img {
    object-fit: cover;
    flex-shrink: 0;
    width: 260px;
    height: 260px;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 10px;
}

.item-img:hover {
    transform: scale(1.05);
}

.item-title {
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: white;
    margin-top: 10px;
}

.search {
    max-width: 100vw;
    justify-content: center;
}

.search select {
    width: 28%;
}

a {
    text-decoration: none;
}

p {
    font-size: 13px;
}

@media screen and (max-width: 1040px) {
    #dvd {
        grid-template-columns: auto auto;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    #dvd {
        grid-template-columns: auto;
        justify-content: space-around, center;
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .item-title {
        align-items: center;
        justify-content: space-between;
        border: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        color: white;
        margin-top: 10px;
        padding-left: 20px;
    }


}