html,
body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(45deg, rgb(39, 39, 89), rgb(76, 37, 104), rgb(92, 35, 92));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins';
    color: white;
}

/* body {
    background-color: #0000d2;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
} */

.is-resizing .logo {
    opacity: 0;
}

.logo {
    filter: drop-shadow(-1px 0px 1px rgba(255, 0, 0, 0.6)) drop-shadow(1px 0px 1px #0000d2) blur(1.2px);
    opacity: 0.9;
    transition: opacity 100ms ease, transform 50ms linear;
    width: 50px;
    will-change: transform;
}

@media (min-width: 500px) {
    .logo {
        width: 100px;
    }
}

@media (min-width: 767px) {
    .logo {
        width: 150px;
    }
}

@media (min-width: 1200px) {
    .logo {
        width: 200px;
    }
}

.overlay-bars,
.overlay-rgb {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/* .overlay-rgb {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 0, 0.4) 33.333%, rgba(0, 255, 0, 0.4) 66.666%);
    background-size: 6px;
    filter: blur(2.5px);
    opacity: 0.5;
} */

.overlay-bars {
    animation: jank 40000ms linear infinite;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.1) 3%, rgba(0, 0, 0, 0.3) 24%, rgba(0, 0, 0, 0.1) 3%);
    background-size: 40px 40px;
    filter: blur(2.5px);
    opacity: 0.08;
    height: 200%;
    transform: perspective(10px) scale(1.1);
}

@keyframes jank {
    0% {
        transform: translatey(0);
    }

    100% {
        transform: translatey(-50%);
    }
}

a.button {
    text-decoration: none;
    color: white;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px;
}

a.button:hover {
    color: yellow;
}